@import 'tailwindcss';

:root {
    --background: #c3ddff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
}

body {
    background: var(--background);
}
